@page
@model MyShop.Web.Pages.UserPanel.ChangePasswordModel
@{
    Layout = "Shared/_AdminLayout";
}





<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                تغییر کلمه عبور

            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>


            </ul>
            <div class="clearfix"></div>
           
        </div>
        <div class="seprator"></div>
        <hr/>
        <div class="x_content">
              @if (ViewData["IsSuccess"] != null)
        {
            <div class="alert alert-success">
                کلمه عبور شما با موفقیت ویرایش شد
            </div>
        }

        @if (ViewData["InvalidOldPassword"] != null)
        {
            <div class="alert alert-danger">
                <p>کلمه عبور فعلی صحیح نمی باشد</p>
            </div>
        }

        @if (ViewData["NotMatchPassword"] != null)
        {
            <div class="alert alert-danger">
                <p>کلمه های عبور با هم مغایرت دارند !</p>
            </div>
        }

        @if (ViewBag.EditProfile == true)
        {
            <p class="text text-white text-center" style="color: white">
                اطلاعات کاربری یا موفقیت به روز رسانی شد, جهت بارگزاری اطلاعات پروفایل دوباره لاگین کنید

            </p>
        }

        @if (ViewBag.Permission == false)
        {
            <p class="text text-white text-center" style="color: white">شما مجوز دسترسی به این قسمت را ندارید</p>
        }
            <form method="post" asp-page="ChangePassword" class="form-horizontal form-label-left">
             
               
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">کلمه عبور فعلی : </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="password" asp-for="ChangePassword.OldPassword" name=oldPassword class="form-control" required="" placeholder="کلمه عبور فعلی را وارد نمایید">
                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        <span asp-validation-for="ChangePassword.OldPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                      کلمه عبور جدید : 
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input  type="password" asp-for="ChangePassword.Password" name=password required="" class="form-control col-md-7 col-xs-12  " placeholder="کلمه عبور جدید را وارد نمایید">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>

                        <span class="text-danger" asp-validation-for="ChangePassword.Password"></span>
                    </div>


                </div>

                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                       تکرار کلمه عبور جدید : 
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="password" asp-for="ChangePassword.RePassword"  name=rePassword required="" class="form-control col-md-7 col-xs-12" placeholder="تکرار کلمه عبور جدید را وارد نمایید" >
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        <span class="text-danger"></span>

                        <span class="text-danger" asp-validation-for="ChangePassword.RePassword"></span>
                    </div>

                </div>

                <hr />
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                        <button type="submit" class="btn btn-success">ذخیره</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>